In [ ]:
Continuation of Pandas :

In [ ]:
Introduction to DataFrames :

In [ ]:
Datatypes in Pandas :
    1. Series
    2. DataFrames

In [ ]:
A DataFrames is a two dimensional data structure.. data is aligned in tabular fashion in rows and columns.

In [ ]:
# General Syntax of pandas DataFrames

In [ ]:
pandas.DataFrame(data, index, columns, dtype)

In [ ]:
# creating the dataFrame

In [ ]:
A pandas DataFrame can be created by using the various inputs mentioned below :
 1. list
 2. dict
 3. Series
 4. NumPy array
 5. another DF

In [4]:
import numpy as np
import pandas as pd

In [ ]:
How to create an empty DataFrame :

In [5]:
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [ ]:
Creating a DataFrame with a list

In [6]:
data = [1,2,3,4,5]

In [7]:
df =pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [10]:
data = (['gagan',9],['subhajit',8],['sumaiya',9],['afzal',6],['rishika',7])

In [11]:
df = pd.DataFrame(data)
print(df)

          0  1
0     gagan  9
1  subhajit  8
2   sumaiya  9
3     afzal  6
4   rishika  7

In [13]:
df = pd.DataFrame(data, columns=['Name','Marks'])
print(df)

       Name  Marks
0     gagan      9
1  subhajit      8
2   sumaiya      9
3     afzal      6
4   rishika      7

In [14]:
df = pd.DataFrame(data, index = ['Rank1','Rank2','Rank3','Rank4','Rank5'], columns=['Name','Marks'])
print(df)

           Name  Marks
Rank1     gagan      9
Rank2  subhajit      8
Rank3   sumaiya      9
Rank4     afzal      6
Rank5   rishika      7